In [87]:
# Import dependencies 
import pandas as pd

In [88]:
students_df = pd.read_csv("Resources/students_complete.csv")
schools_df = pd.read_csv("Resources/schools_complete.csv")
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [89]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [90]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    students_df["student_name"] = students_df["student_name"].str.replace(word,"")

C:\Users\Alec\Downloads\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [91]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(students_df, schools_df, on=["school_name", "school_name"])
print("Total Number of Students")
student_count = school_data_complete_df["Student ID"].count()
print(student_count)

Total Number of Students
39170

In [92]:
print("Total number of Schools")
school_count = school_data_complete_df["school_name"].nunique()
school_count

Total number of Schools

15

In [93]:
print("Total budget of Schools")
total_budget = schools_df["budget"].sum()
total_budget

Total budget of Schools

24649428

In [94]:
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()
print("Average math score")
print(round(average_math_score,2))
print("Average reading score")
print(round(average_reading_score,2))

Average math score
78.99
Average reading score
81.88

In [95]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [96]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

# Calculate the number of students passing both.
passing_math_reading_count = passing_math_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)
print(passing_math_reading_count)

29370
33610
25528

In [97]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
print(round(passing_math_percentage,2))

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(round(passing_reading_percentage,2))

# Calculate the overall passing percentage.
overall_passing_percentage = passing_math_reading_count / student_count * 100
print(round(overall_passing_percentage,2))

74.98
85.81
65.17

In [99]:
# Adding a list of values with keys to create a new DataFrame.

district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": round(average_math_score,2),
          "Average Reading Score": round(average_reading_score,2),
          "% Passing Math": round(passing_math_percentage,2),
         "% Passing Reading": round(passing_reading_percentage,2),
        "% Overall Passing": round(overall_passing_percentage,2)}])

# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79.0,81.9,75,86,65